h1 {
  color: blue;
}
img {
  height: 300px;
}
.flex-container {
  padding: 40px;
  border: 4px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (width <= 1000px) {
  .flex-container {
    display: grid;
    background-color: brown;
  }
  img {
    height: 150px;
  }
}

@media (hover: hover) {
  .flex-container:hover {
    background-color: green;
    opacity: 0.6;
    transition: 0.3s;
  }
}
